/* Global */

:root {
	--header-bg-color: hsl(210, 50%, 70%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans;
	max-width: 900px;
	margin: 0 auto;
	background-color: hsl(210, 10%, 35%);
}

/* Header */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-bg-color);
	padding: 5px;
	position: sticky;
	top: 0;
	animation: fade-in-from-top 1s ease-in-out forwards;
}

header h1 {
	font-size: 24px;
}

#navbar {
	display: flex;
	gap: 0.5em;
}

#navbar a {
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding: 5px;
}

#navbar a:hover {
	background-color: hsl(210, 50%, 55%);
}

@keyframes fade-in-from-top {
	0% {
		opacity: 0%;
		transform: translateY(-100%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}


/* About section */

section#welcome-section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(210, 10%, 35%);
}

#welcome-section h1 {
	text-align: center;
	font-size: 32px;
}

#welcome-section h1 span:first-child {
	color: hsl(210, 5%, 90%);
	animation: fade-in 1s ease-in-out 1.5s forwards;
	opacity: 0%;
}

#welcome-section h1 span:last-child {
	font-family:'Courier New', Courier, monospace;
	animation: fade-in-color 1.5s ease-in-out 3s forwards;
	opacity: 0%;
	font-size: 30px;
}

@keyframes fade-in{
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fade-in-color{
	0% {
		opacity: 0%;
		color: hsl(210, 5%, 90%);
	}
	50% {
		opacity: 80%;
		color: hsl(210, 5%, 90%);
	}
	80% {
		opacity: 100%;
		color: var(--header-bg-color);
	}
	100% {
		opacity: 100%;
		color: var(--header-bg-color);
		border-bottom: 4px solid var(--header-bg-color);
	}
}

/* Projects section */

#projects h1 {
	color: hsl(210, 5%, 90%);
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
}

.project-tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 0 auto;
}

.project-snap iframe {
	overflow: hidden;
}

.project-tile {
	background-color: gray;
	border-radius: 10px;
	padding: 10px;
}

.project-name a {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	transition: 1s ease-in-out;
}

.project-name a:hover {
	color: var(--header-bg-color);
	transition: 0.5s ease-in-out;
}