/* Global */

:root {
	--header-bg-color: hsl(210, 50%, 70%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans;
	max-width: 900px;
	margin: 0 auto;
	background-color: hsl(210, 10%, 35%);
}

/* Header */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-bg-color);
	padding: 5px;
	position: sticky;
	top: 0;
	animation: fade-in-from-top 1s ease-in-out forwards;
}

header h1 {
	font-size: 24px;
}

#navbar {
	display: flex;
	gap: 0.5em;
}

#navbar a {
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding: 5px;
}

#navbar a:hover {
	background-color: hsl(210, 50%, 55%);
}

@keyframes fade-in-from-top {
	0% {
		opacity: 0%;
		transform: translateY(-100%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}